p
{
    color: red;
}
h1
{
	color: red;
	text-align: center;
	border: 3px red solid;
	border-radius: 10px;
}
h2
{
	color: red;
	text-align: center;
}
h3
{
	color: #ad2204;
}
body
{

	background-color: black;
	color:white;
}
a
{
	color: red;
	font-style: italic;
}
a:hover
{
   text-decoration: underline;
   color: red;
}
a:visited
{
	color:#771500;
}
.index_go
{
	font size: 6px;
	text-align: left;
}
a
{
	text-align: center;
}
ul
{
	color: red;
}
.contact
{
	text-align: right;
	position: fixed;
    bottom: 10px;
	border: 3px red solid;
	border-radius: 10px;
}