h1
{
	--main-text-color: black;
	color: var(--main-text-color);
	text-align: center;
	border: 3px var(--main-text-color) solid;
	border-radius: 10px;
	
}
p
{
    color: var(--main-text-color);
}
h2
{
	color: var(--main-text-color);
	text-align: center;
}
h3
{
	color: var(--main-text-color);
	text-align: left;
}
body
{
	color:var(--main-text-color);
}
a
{
	color: var(--main-text-color);
	font-style: italic;
}
a:hover
{
   text-decoration: underline;
   color: var(--main-text-color);
}
a:visited
{
	color:#771500;
}
.index_go
{
	font size: 6px;
	text-align: left;
}
a
{
	text-align: center;
}
ul
{
	color: var(--main-text-color);
}
.contact
{
	text-align: right;
	position: fixed;
    bottom: 10px;
	border: 3px var(--main-text-color) solid;
	border-radius: 10px;
}
.back
{
	text-align: left;
}
.selecter
{
	border:3px black solid;
	border-radius: 10px;
	display:table;
    text-align: left;	
}
.logo
{
	
}
.twitter-follow-button
{
	text-align: right;
}
.getip
{
	font-size: 200px
	color : red;

}